<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello vue</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="src/app.js" defer></script>

</head>
<body>
    
    <div id="app">
        <form id="app-form">
            <input type="text" v-model="input_name" placeholder="Digite o seu nome: ">
            <input type="submit" value="Enviar" v-on:click="submitForm">
        </form>

        <form id="app-form">
            <input type="number" v-model="input_age" placeholder="Digite o sua idade: ">
            <input type="submit" value="Enviar" v-on:click="submitForm">
        </form>

        <p>Seu nome é: {{name}}, e tenho {{age}}.</p>

        <p>Seu nome é: {{input_name}}, e tenho {{input_age}}.</p>

    </div>

</body>
</html>